
<figure class="social-embed -discord -resetblockquote chat-log">
<blockquote class="logMessages">

{{{_chatlog (call @partial-block)}}}

</blockquote>
<figcaption>
    <span class="silo">Discord</span> &middot;
    <a href="{{ discordUrl url }}"><time 
        datetime="{{ isodatetime time }}">{{ datetime time }}</time></a>
</figcaption>
</figure>
