---
layout: base
---

<article class="h-entry thisweek-issue">
    <header class="issueheader -container">
        <p><a href="/">&larr; This Week in HTMX</a></p>
        {{> byline}}
    </header>

    <div class="e-content -container">
        {{{ content }}}
    </div>
</article>
