---
layout: base
---

<article class="h-entry thisweek-issue">
    <header class="issueheader page-head">
        <p><a href="/">This Week in HTMX</a></p>
        <h1 class="p-name">{{ title }}</h1>
        {{> byline}}
    </header>

    <div class="e-content">
        {{{ content }}}
    </div>
</article>
