---
title: Contribute to This Week on HTMX
layout: base
permalink: /contribute/
---

<header class="page-head">
    <h1>{{title}}</h1>
</header>

<div class="-container">
    <dl>
        <div class="entry">
            <dt>"I found a mistake!"</dt>
            <dd>
                The Week is written in a
                <a href="fgkdgdfg">GitHub repo</a>.
                You can find the post in question and edit it directly on GitHub or 
                open an issue for us to look at.
            </dd>
        </div>
        <div class="entry">
            <dt>"You should run this story!"</dt>
            <dd>
                <a href="https://github.com/dz4k/this-week-on-htmx/issues/">Open an issue on our repository</a>, 
                or email the editor ({{> email}}).
            </dd>
        </div>
        <div class="entry">
            <dt>"I can write this week's post!"</dt>
            <dd>
                Should you find the time, do not hesitate to ask to write for the 
                Week! Send an email to {{> email}}
                or find me on the HTMX Discord (Deniz Akşimşek#4014).
            </dd>
        </div>
        {{!-- <div class="entry">
            <dt>"Someone should get paid for this!"</dt>
            <dd>
                That someone could be you! Wait, no, I meant me... You could do the
                paying.

                <p>Support me on XYZ!</p>
            </dd>
        </div> --}}
    </dl>
</div>