---
layout: base
title: Feeds — This Week on HTMX
permalink: /feed/
---

<header class="page-head">
    <h1>{{title}}</h1>
</header>

<div class="-container">
    <dl>
        <div class="entry">
            <dt>JSONFeed</dt>
            <dd><code>https://thisweek.htmx.org/feed.json</code></dd>
        </div>
        <div class="entry">
            <dt>Atom</dt>
            <dd><code>https://thisweek.htmx.org/feed.xml</code></dd>
        </div>
        <div class="entry">
            <dt>h-feed</dt>
            <dd><code>https://thisweek.htmx.org/</code></dd>
        </div>
    </dl>
</div>
