---
layout: base
permalink: /
description: a weekly summary of the goings-on in the htmx community
---
<div class="h-feed">
    <link href="/" class="u-url">
    <header class="homepage-header -container">
        <h1 class="p-name massive-heading">{{ title }}</h1>

        <p>
            <span class="p-summary">{{description}}</span>, 
            curated by <a class="p-author h-card" href="https://denizaksimsek.com">Deniz Akşimşek</a>
        </p>
    </header>

    <ol reversed role="list" class="issue-list -container">
    {{#each (reverse collections.issue)}}
        <li>
            <article class="h-entry thisweek-issue issueheader">
                <h2>
                    <a class="p-name" href="{{ ./url }}">{{ data.title }}</a>
                </h2>
                {{> byline data}}
            </article>
        </li>
    {{/each}}
    </ol>
</div>
