

body {
    --page-padding: 15vw;

    padding: 0;
    margin: 0;

    font-family: "Noto Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    line-height: 1.6;
}

:where(:is(ul,ol)[role=list]) {
    list-style: none;
    padding-left: 0;
}

pre, code, kbd, samp {
    font-family: monospace, monospace;
}

a {
    color: currentColor;
}

h1 {
    font-size: 2em;
    margin-top: 0;
}

h2 {
    font-size: 1.3em;
    margin-top: 3em;
}

pre {
    overflow-x: auto;
	scrollbar-width: thin;
    scrollbar-color: #888 transparent;
	-moz-tab-size: 4ch;
	-o-tab-size: 4ch;
	tab-size: 4ch;
}

blockquote {
	margin-inline-start: 1em;
	padding-inline-start: 1em;
	border-inline-start: .2em solid #bbb;
}

dl {
    --placeholder: none
}
    dl .entry + .entry {
        margin-top: 1em;
    }

    dt {
        font-weight: bold;
    }

p > img:only-child {
    border: 1px solid #888;
}

.fig {
    margin-inline: 0;
}
    .fig figcaption {
        color: #444;
    }

    .fig > * {
        margin: 0;
    }

    @media (min-width: calc(5vw * 2 + 70ch + 1em + 20ch)) {
        .fig {
            display: flex;
            flex-flow: row;
            vertical-align: top;
            gap: 1em;
        }
        .fig figcaption {
            display: block;
            max-width: 20ch;
        }

        .fig > :not(figcaption) {
            width: 70ch;
        }
    }

.site-footer {
    margin-block-start: 3em;
    padding-inline: var(--page-padding);
    color: #555;
}

.issue-list {
	text-align: center;
}
	.issue-list * + * {
		margin-top: 1em;
	}

    .issue-list a {
        text-decoration: underline 1px #888;
    }
    .issue-list a:hover {
        text-decoration: underline 2px #888;
    }

.thisweek-issue {
    --placeholder: ;
}
    .issueheader > * {
        margin-block: 0;
    }
    
    .thisweek-issue .e-content {
        margin-inline: var(--page-padding);
    }

    .thisweek-issue .e-content :is(p, .chat-log) {
        max-width: 70ch;
    }

    .thisweek-issue .e-content > :first-child {
        margin-top: 1em;
    }
    
.chat-log {
    margin-inline: 0;
    margin-bottom: -.5em; /* compensate for datetime at the right */
}
    .chat-log > figcaption {
        text-align: end;
        font-size: .9em;
        line-height: 1.1em;
        color: #555;
    }
    .chat-log > figcaption a {
        text-decoration: none;
    }
    .chat-log > figcaption a:hover {
        color: black;
    }
    
    .chat-log > blockquote {
        margin: 0;
        padding-inline: 2ch 1ch;
        background: #f4f4f4;
        border: 1px solid #ccc;
    }        
    .chat-log > blockquote * {
        margin-block: 0;
    }
    
    .chat-log > blockquote > p > b {
    	display: inline-block;
        transform: translateX(-1ch);
    }

    .chat-log .replyto {
        font-size: .9em;
    }
        .chat-log .replyto > b {
            font-weight: normal;
        }

        .chat-log .replyto > span {
            color: #5a5a5a;
            font-style: italic;
        }

    .chat-log .reaction {
        display: inline-block;
        font-size: .9em;
        line-height: 1.4em;
        background-color: #dadada;
        border: 1px solid #aaa;
        border-radius: 4px;
        padding-inline: .3em;
        margin-inline: .09em;
        transform: translateY(-.1em);
    }
        .chat-log .reaction .emoji {
            text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
        }
    
    .chat-log .stage-direction {
        display: inline-block;
        width: 100%;
        text-align: center;
        
        font-size: .8em;
        font-weight: bold;
        font-style: normal;
        color: #585858;

        border-top: 1px solid #585858;
        margin: .5em 0;
        line-height: 1.1;
    }
    
.page-head {
    box-sizing: border-box;
    padding-inline: var(--page-padding);
    padding-block: 1em;z
}
